@charset "UTF-8";
/* CSS Document */

:root {
    --primary: #006DFF;
    --secondary: #86c035; 
    --tertiary: #86c035;
    --light-background: #f1f1f1;
    --dark-background: #1e1e1e;
    --default-text: #444;    
    --muted: #979797;
}

@font-face {
    font-family: 'Gilroy-Extrabold';
    font-display: swap;
    font-style: normal;
    font-weight: normal;
    src: local('../fonts/Gilroy-ExtraBold'), 
        url("../fonts/Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"), 
        url("../fonts/Gilroy-ExtraBold.woff2") format("woff2"), 
        url("../fonts/Gilroy-ExtraBold.woff") format("woff"), 
        url("../fonts/Gilroy-ExtraBold.ttf") format("truetype"), 
        url("../fonts/Gilroy-ExtraBold.svg#Gilroy ExtraBold") format("svg");
}

body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Gilroy-Extrabold', sans-serif;
   /* min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;*/
    position: relative;
    z-index: 1;
}

body.page-home {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('../media/bg-home.svg');
}
/*body.page-home main {    
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 65%;
    background-image: url('../media/bg-center.svg');
}*/
/*
.section {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.section:nth-child(1n) {
    background-image: url('../media/bg-default.png');
}

.section:nth-child(2n) {
    background-image: url('../media/bg-default-rev.png');
}*/

.header {
    position: relative;
}

.bg-header {
    position: absolute;
    top: 0;
    right: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    background-image: url('../media/bg-header.svg');
    width: 100%;    
    height: 40vw;
    z-index: 0;
}

.bg-footer {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    background-image: url('../media/bg-footer.svg');
    position: absolute;
    bottom: 0;
    width: 100%;    
    height: 28vw;
    z-index: 0;
}

.section .container {
    padding-top: 2rem;
    padding-bottom: 2rem;
    height: 100%;    
    /*display: flex;
    align-items: center;*/
}

.section .row {
    height: 100%;
    /*width: 100%;*/
}

.section-title {
    color: var( --primary );
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
    padding-bottom: 3rem;
}

.footer {
    /*background-color: var( --primary );*/
    /*background-image: linear-gradient( 90deg, #006dff, #006dff, #006dff);*/
    color: #fff;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: auto;
    position: relative;
    z-index: 1;
}

.footer a {
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link {
    color: #f5eeee;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #00F6CF;
}

.navbar-brand {
    position: absolute;
    top: .25rem;
    left: 3vw;
}

.navbar-brand svg {
    width: 10vh;   
}

.form-control {
    background-color: #f9f9f9;
}

#download .container {
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
    z-index: 1;
}
    
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .section {
        text-align: center;
    }

    .section .section-title {
        font-size: 3rem;
    }

    #inventory.section .container { 
        padding-top: 5.5rem;
        padding-bottom: 1rem;
    }

    #inventory.section .section-title { 
        padding-bottom: 1rem;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {

}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .navbar-brand svg {
        width: 15vh;   
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .section .container {
        height: calc( 100vh - 56px );
        min-height: 40vw;
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    .bg-header {
        top: -7.5vw;
    }
    
    #download .container {
        min-height: 500px;
        height: auto;
        margin-top: 10rem;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

/*.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.m-b-md {
    margin-bottom: 30px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}*/